<!DOCTYPE html>
<html>
<head>
  <title>Button Example</title>
</head>
<body>
  <h1>Arduino Control Panel</h1>
  <div>
    <form action="/control/d" method="POST">
    <button id="button1" type="submit">down</button>
</form>
<form action="/control/u" method="POST">
    <button id="button2">up</button><br><br>
</form>
<form action="/control/f" method="POST">
    <button id="button3">forward</button><br><br>
</form>
<form action="/control/b" method="POST">
    <button id="button4">backwards</button><br><br>
</form>
<form action="/control/l" method="POST">
    <button id="button5">left</button><br><br>
</form>
<form action="/control/r" method="POST">
    <button id="button6">right</button>
</form>
<form action="/control/s" method="POST">
    <button id="button7" style="color: red;">stop</button>
</form> 
 
   
  </div>
</body>
</html> 

